/* Container */
.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 1140px;
  }
  
  /* Row */
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  
  /* Columns */
  [className*="col-"] {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  /* Responsive Columns */
  .collg12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  
  .collg6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  
  .collg4 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
  
  .collg3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .collg2 {
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
  
  @media (max-width: 992px) {
    .col-md-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  
    .col-md-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
/* Top Header */
.topHeader{
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.innerTopHeader{
    display: flex;
    color: #EB4C6B;
    align-items: baseline;
    font-weight: 400;
    padding: 5px 0;
}
.innerTopHeader p{
    color:#EB4C6B;
    margin-bottom: 0;
}
/* Middle Header */
.middleHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 50px;
}
.mobileMenu i{
  display: none;
}
.middleHeader img{
    width: 40px;
}
.middleHeaderIcons i{
    margin-right: 20px;
}
/* Menu Bar */
.menuBar{
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}
.menuBar ul{
    list-style: none;
    gap: 20px;
display: flex;
justify-content: center;
font-weight: 600;
}
@media (max-width: 768px) {
  .mobileMenu i{
    display: block;
    font-size: 30px;
    cursor: pointer;
  }
  .mobileMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  /* .menuBar{
    display: none;
  } */
  .middleHeader{
    border-bottom: 1px solid #eee;
  }
  .middleHeaderIcons > :nth-last-child(-n+2){
    display: none;
  }
  .topHeader .innerTopHeader:nth-child(n+2) {
    display: none;
}
.topHeader p{
  padding-bottom: 0 !important;
}
.menuBar {
  position: fixed;
  top: 108;
  left: -100%;
  width: 250px;
  height: 80%;
  background-color: #333;
  color: white;
  transition: left 0.3s ease-in-out;
  z-index: 1000;
  padding: 20px;
  border-radius: 0 10px 10px 0;
}
.menuBar ul {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menuBar ul li {
  padding: 10px 0;
  border-bottom: 1px solid #444;
  cursor: pointer;
}

.menuBarOpen {
  left: 0; /* Slide in from the left */
}

.menuIcon {
  cursor: pointer;
}
}